useDynLib(nacopula, .registration=TRUE)

importFrom("gsl", debye_1)

exportClasses("ACopula",
              "nACopula", "outer_nACopula",
              "interval", "maybeInterval"
              )

## Generics, functions and ACopula - family objects defined in this package
export("copAMH", "copClayton", "copFrank", "copGumbel", "copJoe"
       ,"value", "rn" ,"rnchild"
       ,"onACopula"
       ,"interval"
       ,"prob"
       ## Should we provide these in a separate (very small) R package ?
       ,"sinc", "A..Z"
       ,"rstable1"
       ,"retstable", "retstableR"
       ,"rFJoe", "rFJoeR"
       ,"rlog"

       ,"setTheta"
       ,"allComp" # <- maybe keep private ?
       ,"safeUroot"
       )

exportMethods(## for both own and "other" generics:
	      "value", "prob", "rn", "rnchild",
	      "dim",
	      "format"
	      )

